{{#if this.auto}}
  <Input @value={{this.value}} placeholder={{this.placeholder}} />
{{else}}
  <input
    value={{this.internalValue}}
    placeholder={{this.placeholder}}
    {{on "input" this.handleValueChange}}
  >
  <button type="button" {{on "click" this.handleManualFilterChange}}>Search</button>
{{/if}}
